body{
	background: #962778;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
section.signup{
	background: ;
	margin: 0;
	padding: 50px 0 20px 0;
}
section.signup .signup-form{
	width: 40%;
	margin: auto;
	background: #962778;
	box-shadow: 6px 6px 12px #60194d,   -6px -6px 12px #cc35a3;
	padding: 10px 0px;
}
form{
	padding: 25px 20px;
}
input{
	padding: 8px 0;
	width: 100%;
	margin-bottom: 15px;
	color: black;
	font-size: 22px;
	outline: none;
	border: none;
	background: transparent;
	border-bottom: 4px solid white;
	color: white;
}
label{
	font-size: 25px;
	text-transform: capitalize;
	color: #ffffff8a;
	font-family: serif;
	display: inline;
}
strong{
	font-size: 25px;
	color: #ffffff9c;
	display: block;
	margin-bottom: 1px;
}
input[type="radio"],input[type="checkbox"]{
	width: auto;
	margin: 10px 3px 27px 10px;
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
	transform: scale(1.6);
	}
textarea#message {
    width: 100% !important;
    resize: none;
    margin-bottom: 20px;
    color: white;
    font-size: 22px;
    outline: none;
    border-radius: 5px;
    background: transparent;
    border: 3px solid #ffffffeb;
}
input[type="submit"] {
    width: auto;
    padding: 17px 30px;
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffffcf;
    background: #6c1955;
    outline: navajowhite;
    border: navajowhite;
    border-radius: 5px;
    font-family: serif;
    transition-duration: .4s;
}
input[type="submit"]:hover{
	   box-shadow: 6px 6px 12px #cc35a3,   -6px -6px 12px #60194d;
	   transform: scale(.9);
	   text-decoration: underline;
	   cursor: pointer;
}
.login-direction{
	display: inline-block;
	width: 100%;
	margin-top: 8px;
}
.login-direction strong{
	display: inline-block;	
	margin-left: 10px;
}
.login-direction a:hover{
	text-decoration: underline;
}